<div id="menu" class="background-blue box-shadow" style="display: table;">

    <div class="list" style="display: table-row;">
        <ul>
            <li class="static">@Html.ActionLink("Dashboard", "Index", "Home")</li>

            @switch ((string)Session["Permission"])
            {
                case "Admin":

                    <li class="dynamic">HR Accounts</li>
                    <li class="collapsible">
                        @Html.ActionLink("Create", "CreateAccount", "Dashboard")<br />
                        @Html.ActionLink("Edit", "EditAccount", "Dashboard")<br />
                        @Html.ActionLink("Delete", "DeleteAccount", "Dashboard")<br />
                        @Html.ActionLink("Reset", "ResetAccount", "Dashboard")
                    </li>
                    <li class="dynamic">Stores</li>
                    <li class="collapsible">
                        @Html.ActionLink("Create", "CreateStore", "Dashboard")<br />
                        @Html.ActionLink("Edit", "EditStore", "Dashboard")<br />
                        @Html.ActionLink("Delete", "DeleteStore", "Dashboard")
                    </li>

                    break;
                case "Staffing Expert":

                    <li class="dynamic">Positions</li>
                    <li class="collapsible">
                        @Html.ActionLink("Create", "CreatePosition", "Dashboard")<br />
                        @Html.ActionLink("Edit", "EditPosition", "Dashboard")<br />
                        @Html.ActionLink("Delete", "DeletePosition", "Dashboard")
                    </li>

                    <li class="dynamic">Questions</li>
                    <li class="collapsible">
                        @Html.ActionLink("Create", "CreateQuestion", "Dashboard")<br />
                        @Html.ActionLink("Edit", "EditQuestion", "Dashboard")<br />
                        @Html.ActionLink("Delete", "DeleteQuestion", "Dashboard")
                    </li>

                    break;
                case "Hiring Manager":

                    <li class="static">@Html.ActionLink("Applications", "GetApplications", "Dashboard")</li>

                    <li class="dynamic">Job Openings</li>
                    <li class="collapsible">
                        @Html.ActionLink("Open", "OpenJobOpening", "Dashboard")<br />
                        @Html.ActionLink("Close", "CloseJobOpening", "Dashboard")
                    </li>

                    break;
                case "Phone Screener":

                    <li class="static">@Html.ActionLink("Search for Applicant", "GetApplication", "Dashboard")</li>

                    <li class="dynamic">Applicant Accounts</li>
                    <li class="collapsible">
                        @Html.ActionLink("Reset", "ResetAccount", "Dashboard")
                    </li>
            
                    break;
            }
        </ul>
    </div>

</div>

<script>

    $('.static').css('cursor', 'pointer')
    $('.dynamic')
    .css('cursor', 'pointer')
    .click(
      function () {
          $(this).next('li').slideToggle('fast');
          $(this).toggleClass("background-light-blue");
      }
    )

</script>