
<div id="menu">
    <div id="alert-window">
        <div>Waiting List</div>
        <div style="font-size:50px; color:red;">@AESHiringManagement.Models.Dashboard.getNumber()</div>
    </div>
    <ul>
        <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
        <li>@Html.ActionLink("Accounts", "Index", "Home")</li>
        <li>@Html.ActionLink("Stores", "Index", "Home")</li>
        <li>@Html.ActionLink("Positions", "Index", "Home")</li>
        <li>@Html.ActionLink("Button4", "Index", "Home")</li>
        <li>@Html.ActionLink("Button5", "Index", "Home")</li>
        <li>@Html.ActionLink("Button6", "Index", "Home")</li>
        <li>@Html.ActionLink("Button7", "Index", "Home")</li>
    </ul>
</div>