@model AESApplications.Models.AvailabilityModel

@{
    ViewBag.Title = "Your Availability";
    var listItems = new List<Object>{
                       new { Value = 0, Text = "N/A"},
                       new { Value = 1 , Text = "12:00am" },
                       new { Value = 2 , Text = "1:00am" },
                       new { Value = 3 , Text = "2:00am" },
                       new { Value = 4 , Text = "3:00am" },
                       new { Value = 5 , Text = "4:00am" },
                       new { Value = 6 , Text = "5:00am" },
                       new { Value = 7 , Text = "6:00am" },
                       new { Value = 8 , Text = "7:00am" },
                       new { Value = 9 , Text = "8:00am" },
                       new { Value = 10 , Text = "9:00am" },
                       new { Value = 11 , Text = "10:00am" },
                       new { Value = 12 , Text = "11:00am" },
                       new { Value = 13 , Text = "12:00pm" },
                       new { Value = 14 , Text = "1:00pm" },
                       new { Value = 15 , Text = "2:00pm" },
                       new { Value = 16 , Text = "3:00pm" },
                       new { Value = 17 , Text = "4:00pm" },
                       new { Value = 18 , Text = "5:00pm" },
                       new { Value = 19 , Text = "6:00pm" },
                       new { Value = 20 , Text = "7:00pm" },
                       new { Value = 21 , Text = "8:00pm" },
                       new { Value = 22 , Text = "9:00pm" },
                       new { Value = 23 , Text = "10:00pm" },
                       new { Value = 24 , Text = "11:00pm" }
                    };
    var selectList = new SelectList(listItems, "Value", "Text");
}

<div class="content">

    <h1>@ViewBag.Title</h1>

    @using (Html.BeginForm("Index", "Availability", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend class="label-blue text-shadow">General</legend>

            @Html.HiddenFor(m => m.applicantId, Model.applicantId)

            <div style="display: table;">

                <div style="display: table-row;">
                    <div class="question">@Html.LabelFor(m => m.fullTimeYN)</div>
                    <div class="answer" style="vertical-align: middle;">
                        <div style="float: left; margin-right: 10px;">
                            <div style="float: left;">
                                @Html.Label("Yes")
                            </div>
                            <div style="float: left;">
                                @if (Model.fullTimeYN != null && Model.fullTimeYN.CompareTo("y") == 0)
                                {
                                    @Html.RadioButtonFor(m => m.fullTimeYN, "y", new { Checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.fullTimeYN, "y")
                                }
                            </div>
                        </div>
                        <div style="float: left;">
                            <div style="float: left;">
                                @Html.Label("No")
                            </div>
                            <div style="float: left;">
                                @if (Model.fullTimeYN == null || Model.fullTimeYN.CompareTo("n") == 0)
                                {
                                    @Html.RadioButtonFor(m => m.fullTimeYN, "n", new { Checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.fullTimeYN, "n")
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="question">@Html.LabelFor(m => m.daysYN)</div>
                    <div class="answer" style="vertical-align: middle;">
                        <div style="float: left; margin-right: 10px;">
                            <div style="float: left;">
                                @Html.Label("Yes")
                            </div>
                            <div style="float: left;">
                                @if (Model.daysYN != null && Model.daysYN.CompareTo("y") == 0)
                                {
                                    @Html.RadioButtonFor(m => m.daysYN, "y", new { Checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.daysYN, "y")
                                }
                            </div>
                        </div>
                        <div style="float: left;">
                            <div style="float: left;">
                                @Html.Label("No")
                            </div>
                            <div style="float: left;">
                                @if (Model.daysYN == null || Model.daysYN.CompareTo("n") == 0)
                                {
                                    @Html.RadioButtonFor(m => m.daysYN, "n", new { Checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.daysYN, "n")
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="question">@Html.LabelFor(m => m.eveningsYN)</div>
                    <div class="answer" style="vertical-align: middle;">
                        <div style="float: left; margin-right: 10px;">
                            <div style="float: left;">
                                @Html.Label("Yes")
                            </div>
                            <div style="float: left;">
                                @if (Model.eveningsYN != null && Model.eveningsYN.CompareTo("y") == 0)
                                {
                                    @Html.RadioButtonFor(m => m.eveningsYN, "y", new { Checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.eveningsYN, "y")
                                }
                            </div>
                        </div>
                        <div style="float: left;">
                            <div style="float: left;">
                                @Html.Label("No")
                            </div>
                            <div style="float: left;">
                                @if (Model.eveningsYN == null || Model.eveningsYN.CompareTo("n") == 0)
                                {
                                    @Html.RadioButtonFor(m => m.eveningsYN, "n", new { Checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.eveningsYN, "n")
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="question">@Html.LabelFor(m => m.weekendsYN)</div>
                    <div class="answer" style="vertical-align: middle;">
                        <div style="float: left; margin-right: 10px;">
                            <div style="float: left;">
                                @Html.Label("Yes")
                            </div>
                            <div style="float: left;">
                                @if (Model.weekendsYN != null && Model.weekendsYN.CompareTo("y") == 0)
                                {
                                    @Html.RadioButtonFor(m => m.weekendsYN, "y", new { Checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.weekendsYN, "y")
                                }
                            </div>
                        </div>
                        <div style="float: left;">
                            <div style="float: left;">
                                @Html.Label("No")
                            </div>
                            <div style="float: left;">
                                @if (Model.weekendsYN == null || Model.weekendsYN.CompareTo("n") == 0)
                                {
                                    @Html.RadioButtonFor(m => m.weekendsYN, "n", new { Checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.weekendsYN, "n")
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="question">@Html.LabelFor(m => m.salaryExpected)</div>
                    <div class="answer">
                        @Html.TextBoxFor(m => m.salaryExpected, new { Class = "field-input", style = "width: 150px;" })
                    </div>
                </div>

            </div>

        </fieldset>

        <br />

        <fieldset>
            <legend class="label-blue text-shadow">Specific</legend>
            <div style="display: table-row">
                <div class="question"></div>
                <div class="answer">
                    <div style="display: table; table-layout: fixed; width: 100%;">
                        <div style="display: table-row;">
                            <div style="display: table-cell;">Monday</div>
                            <div style="display: table-cell;">Tuesday</div>
                            <div style="display: table-cell;">Wednesday</div>
                            <div style="display: table-cell;">Thursday</div>
                            <div style="display: table-cell;">Friday</div>
                            <div style="display: table-cell;">Saturday</div>
                            <div style="display: table-cell;">Sunday</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: table-row">
                <div class="question">From</div>
                <div class="answer">
                    <div style="display: table; width: 100%;">
                        <div style="display: table-row;">
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.mondayFrom, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.tuesdayFrom, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.wednesdayFrom, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.thursdayFrom, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.fridayFrom, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.saturdayFrom, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.sundayFrom, selectList)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: table-row">
                <div class="question">To</div>
                <div class="answer">
                    <div style="display: table; width: 100%;">
                        <div style="display: table-row;">
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.mondayTo, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.tuesdayTo, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.wednesdayTo, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.thursdayTo, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.fridayTo, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.saturdayTo, selectList)</div>
                            <div style="display: table-cell;">@Html.DropDownListFor(m => m.sundayTo, selectList)</div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <br />

        <input type="submit" value="Continue" class="label-green text-shadow" />
    }

</div>