@model AESApplications.Models.AuthenticationModel
@{
    ViewBag.Title = "Account Login";
}

<div class="content">

    <h1>@ViewBag.Title</h1>
    <h2>Forgot your password?  Dial 1-800-1TO-HIRE and speak with an agent to have your password reset.</h2>

    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend class="label-blue text-shadow">Account Login</legend>

            <div style="display: table;">

                <div style="display: table-row;">
                    <div class="question">@Html.LabelFor(m => m.ssn)</div>
                    <div class="answer">
                        @Html.TextBoxFor(m => m.ssn, new { style = "width: 150px; float: left;", maxlength = "9" })
                        <div class="validation">@Html.ValidationMessageFor(m => m.ssn)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="question">@Html.LabelFor(m => m.password)</div>
                    <div class="answer">
                        @Html.TextBoxFor(m => m.password, new { style = "width: 150px; float: left;", type = "password" })
                        <div class="validation">@Html.ValidationMessageFor(m => m.password)</div>
                    </div>
                </div>

            </div>

        </fieldset>
        
        <br />

        <input type="submit" value="Continue" class="label-green text-shadow" style="float: left;"/>
    }

    <input type="submit" value="Back" onclick="location.href='@Url.Action("Welcome", "Home")'" class="label-red text-shadow" />

</div>