@model List<AESApplications.Models.EducationModel>

@{
    ViewBag.Title = "Education";
}

<div style="text-align: center; margin: 20px;">

    <div class="content-header">@ViewBag.Title</div>

    @using (Html.BeginForm("Index", "Education", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(m => m[i].applicantId, Model[i].applicantId);
            @Html.HiddenFor(m => m[i].educationId, Model[i].educationId);
            <div class="form-container box-shadow" style="margin-top: 20px;">

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].name)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].name, new { Class = "field-input", style = "width:200px; text-transform:capitalize;" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].name)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].street)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].street, new { Class = "field-input", style = "width:300px; text-transform:capitalize;" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].street)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].city)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].city, new { Class = "field-input", style = "width:200px; text-transform:capitalize;" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].city)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].state)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].state, new { Class = "field-input", style = "width:30px;text-transform:uppercase", maxlength=2 })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].state)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].zip)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].zip, new { Class = "field-input", style = "width:100px;", maxlength = 5 })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].zip)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].yearFrom)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].yearFrom, new { Class = "field-input", style = "width:80px;", maxlength = 4 })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].yearFrom)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].yearTo)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].yearTo, new { Class = "field-input", style = "width:80px;", maxlength = 4 })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].yearTo)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].graduated)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].graduated, new { Class = "field-input", style = "width:20px; text-transform:lowercase", maxlength = 1 })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].graduated)</div>
                    </div>
                </div>

                <div style="display: table-row;">
                    <div class="form-title">@Html.LabelFor(m => m[i].degree)</div>
                    <div class="form-content">
                        @Html.TextBoxFor(m => m[i].degree, new { Class = "field-input", style = "width:200px; text-transform:capitalize" })
                        <br />
                        <div id="validation">@Html.ValidationMessageFor(m => m[i].degree)</div>
                    </div>
                </div>

            </div>
        }
        
        <input type="submit" value="Continue" />

    }

</div>