@model List<AESApplications.Models.QuestionModel>

@{
    ViewBag.Title = "Questionnaire";
}

<div class="content">

    <h1>Please answer a few questions</h1>

    @using (Html.BeginForm("CheckQuestions", "Questionnaire", FormMethod.Post))
    {

        <fieldset>
            <legend class="label-blue text-shadow">Questionnaire</legend>

            @for (int i = 0; i < Model.Count; i++)
            {

                @Html.HiddenFor(m => Model[i].correctAnswer, Model[i].correctAnswer);
                @Html.HiddenFor(m => Model[i].question, Model[i].question);

                <div style="display: table-row;">

                    <div class="question">@Model[i].question</div>
                    <div class="answer">
                        <div style="float: left; margin-right: 10px;">
                            <div style="float: left;">
                                @Html.Label("Yes")
                            </div>
                            <div style="float: left;">
                                @Html.RadioButtonFor(m => m[i].response, "y")
                            </div>
                        </div>
                        <div style="float: left;">
                            <div style="float: left;">
                                @Html.Label("No")
                            </div>
                            <div style="float: left;">
                                @Html.RadioButtonFor(m => m[i].response, "n")
                            </div>
                        </div>
                    </div>
                </div>
            }

        </fieldset>

        <input type="submit" value="Continue" class="label-green text-shadow" />

    }

</div>