<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>@ViewBag.Title - A.E.S. Job Application Kiosk</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body>

    <div id="wrapper" style="display: table;">

        <div class="text-shadow layout-blue-dark" style="display: table-row;">
            <div id="header" style="display: table-cell;">
                A.E.S. Job Application Kiosk
            </div>
        </div>

        <div class="layout-blue-light" style="display: table-row;">
            @Html.Partial("_Navigation")
        </div>

        <div style="display: table-row; vertical-align: middle;">
            <div id="content" style="display: table-cell;">
                @RenderBody()
            </div>
        </div>

        <div class="layout-blue-dark" style="display: table-row;">
            <div id="footer" style="display: table-cell;">
                &copy; @DateTime.Now.Year - A.E.S. Incorporated
            </div>
        </div>

    </div>

    @RenderSection("scripts", required: false)

</body>

</html>
